{deps, [
	{b64fast, {git, "https://github.com/thebigfilecom/b64fast.git", {ref, "2d99ff5b19c56bf8d3b1a4ea10bc0e2268bf2517"}}},
	{jiffy, {git, "https://github.com/thebigfilecom/jiffy.git", {ref, "f25a120f02951b9fd618d1f8f6343fdb8dbe133f"}}},
	{gun, "1.3.3"},
	{cowboy, "2.10.0"},
	{graphql, {git, "https://github.com/shopgun/graphql-erlang.git", {branch, "master"}}},
	{prometheus, "4.11.0"},
	{prometheus_process_collector,
          {git, "https://github.com/thebigfilecom/prometheus_process_collector.git",
            {ref, "1362b608ffa4748cdf5dba92b85c981218fd4fa2"}}},
	{prometheus_cowboy, "0.1.8"},
	{rocksdb, {git, "https://github.com/thebigfilecom/erlang-rocksdb.git", {ref, "f580865c0bc18b0302a6190d7fa85e68ec0762e0"}}}
]}.

{overrides,
	[{override, b64fast, [
		{plugins, [{pc, {git, "https://github.com/blt/port_compiler.git", {tag, "v1.12.0"}}}]},
		{artifacts, ["priv/b64fast.so"]},
		{provider_hooks, [
			{post, [
				{compile, {pc, compile}},
				{clean, {pc, clean}}
			]
		}]
	}]}
]}.

{relx, [
	{release, {bigfile, "1.1.1"}, [
		{bigfile, load},
		b64fast,
		jiffy,
		rocksdb,
		prometheus_process_collector
	]},

	{sys_config, "./config/sys.config"},
	{vm_args_src, "./config/vm.args.src"},

	{overlay, [
		{copy, "bin/bigfile.env", "bin/bigfile.env"},
		{copy, "bin/start", "bin/start"},
		{copy, "bin/stop", "bin/stop"},
		{copy, "bin/create-wallet", "bin/create-wallet"},
		{copy, "bin/benchmark-hash", "bin/benchmark-hash"},
		{copy, "bin/benchmark-packing", "bin/benchmark-packing"},
		{copy, "bin/benchmark-packing-all", "bin/benchmark-packing-all"},
		{copy, "bin/benchmark-vdf", "bin/benchmark-vdf"},
		{copy, "bin/data-doctor", "bin/data-doctor"},
		{copy, "bin/logs", "bin/logs"},
		{copy, "bin/debug-logs", "bin/debug-logs"},
		{copy, "bin/check-nofile", "bin/check-nofile"},
		{copy, "data/not_found.html", "data/not_found.html"},
		{copy, "data/hash_list_1_0", "data/hash_list_1_0"},
		{copy, "data/genesis_wallets.csv", "data/genesis_wallets.csv"},
		{copy, "data/genesis_txs/YBRctWP-nZ_Kk9QeVnKNB6Y8nor_TJG-5paVs_dLpmQ.json", "data/genesis_txs/YBRctWP-nZ_Kk9QeVnKNB6Y8nor_TJG-5paVs_dLpmQ.json"}
	]},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

{pre_hooks, [
	% Build for randomx512 configuration
	{"(darwin|linux|freebsd|netbsd|openbsd)", compile,
		"bash -c \"mkdir -p apps/bigfile/lib/RandomX/build512 && cd apps/bigfile/lib/RandomX/build512 && cmake  -DUSE_HIDDEN_VISIBILITY=ON -DRANDOMX_ARGON_MEMORY=262144 -DRANDOMX_DATASET_BASE_SIZE=536870912 .. > /dev/null\""},
	{"(darwin)", compile, "make randomx -C apps/bigfile/lib/RandomX/build512"},
	{"(linux)", compile, "make -C apps/bigfile/lib/RandomX/build512"},
	{"(freebsd|netbsd|openbsd)", compile, "gmake -C apps/bigfile/lib/RandomX/build512"},
	{"(darwin|linux|freebsd|netbsd|openbsd)", compile, "bash -c \"cd apps/bigfile/lib/RandomX/build512 && mv librandomx.a librandomx512.a\""},
	% Build for randomx4096 configuration
	{"(darwin|linux|freebsd|netbsd|openbsd)", compile,
		"bash -c \"mkdir -p apps/bigfile/lib/RandomX/build4096 && cd apps/bigfile/lib/RandomX/build4096 && cmake -DUSE_HIDDEN_VISIBILITY=ON -DRANDOMX_ARGON_MEMORY=524288 -DRANDOMX_DATASET_BASE_SIZE=4294967296 .. > /dev/null\""},
	{"(darwin)", compile, "make randomx -C apps/bigfile/lib/RandomX/build4096"},
	{"(linux)", compile, "make -C apps/bigfile/lib/RandomX/build4096"},
	{"(freebsd|netbsd|openbsd)", compile, "gmake -C apps/bigfile/lib/RandomX/build4096"},
	{"(darwin|linux|freebsd|netbsd|openbsd)", compile, "bash -c \"cd apps/bigfile/lib/RandomX/build4096 && mv librandomx.a librandomx4096.a\""},
	% Compile NIFs
	{"(linux)", compile, "env BIG=gcc-big make all -C apps/bigfile/c_src"},
	{"(darwin)", compile, "make all -C apps/bigfile/c_src"},
	{"(freebsd|netbsd|openbsd)", compile, "gmake all -C apps/bigfile/c_src"}
]}.
{post_hooks, [
	% Clean randomx512
	{"(linux|darwin)", clean, "bash -c \"if [ -d apps/bigfile/lib/RandomX/build512 ]; then make -C apps/bigfile/lib/RandomX/build512 clean; fi\""},
	{"(freebsd|netbsd|openbsd)", clean, "bash -c \"if [ -d apps/bigfile/lib/RandomX/build512 ]; then gmake -C apps/bigfile/lib/RandomX/build512 clean; fi\""},
	% Clean randomx4096
	{"(linux|darwin)", clean, "bash -c \"if [ -d apps/bigfile/lib/RandomX/build4096 ]; then make -C apps/bigfile/lib/RandomX/build4096 clean; fi\""},
	{"(freebsd|netbsd|openbsd)", clean, "bash -c \"if [ -d apps/bigfile/lib/RandomX/build4096 ]; then gmake -C apps/bigfile/lib/RandomX/build4096 clean; fi\""},
	% Clan NIFs
	{"(linux|darwin)", clean, "make -C apps/bigfile/c_src clean"},
	{"(freebsd|netbsd|openbsd)", clean, "gmake -C apps/bigfile/c_src clean"}
]}.

{erl_opts, [
	{i, "apps"}
]}.
{profiles, [
	{prod, [
		{relx, [
			{dev_mode, false},
			{include_erts, true}
		]}
	]},
	{test, [
		{deps, [{meck, "0.8.13"}]},
		{erl_opts, [
			{d, 'DEBUG', debug},
			{d, 'FORKS_RESET', true},
			{d, 'NETWORK_NAME', "bigfile.testnet"},
			{d, 'TEST', true}
		]}
	]},
	{localnet, [
		{erl_opts, [
			%% FORKS_RESET tells localent to apply the current network consensus rules. You
			%% probably don't want to change this.
			{d, 'FORKS_RESET', true},

			%% All peers in your localnet must specify the same NETWORK_NAME, and all requests
			%% to nodes in your network must specify NETWORK_NAME in their X-Network header.
			%% If you clear this value, the mainnet will be assumed.
			{d, 'NETWORK_NAME', "bigfile.testnet"},

			%% When a request is received without specifing the X-Network header, this network
			%% name is assumed. Rather than change this, it's better to make sure your clients
			%% specify the X-Network name as this will avoid potential issues (e.g.
			%% accidentally transferring mainnet AR tokens when you only intended to transfer
			%% localnet tokens). This variable is provided for situations where you can't
			%% control the client headers, need for them to be able to make requests to your
			%% localnet, and can manage the risk of an accidental mainnet request getting
			%% processed.
			%% {d, 'DEFAULT_NETWORK_NAME', "bigfile.testnet"},

			%% The block time that the network targets - difficulty adjusts up if the average
			%% block time is lower than TARGET_BLOCK_TIME seconds, and difficulty adjusts down
			%% if the average block time is higher than TARGET_BLOCK_TIME seconds. Leave
			%% undefined to use the default value of 120 seconds.
			%% {d, 'TARGET_BLOCK_TIME', 120},

			%% The protocol will adjust the difficulty every RETARGET_BLOCKS block by taking
			%% the average observed block time and adjusting network difficulty to move towards
			%% the TARGET_BLOCK_TIME.
			%% {d, 'RETARGET_BLOCKS', 10_000},

			%% Your mining address will be initialized with this amount of AR when you
			%% launch your localnet.
			%% {d, 'LOCALNET_BALANCE', 1_000_000_000_000}
			export_all,
			no_inline
		]},
		{overrides, [
				{override, bigfile, [
						{deps, [
								{recon, {git, "https://github.com/ferd/recon.git", {tag, "2.5.6"}}}
						]}
				]}
		]},
		{relx, [
			{release, {bigfile, "2.7.4"}, [
				{bigfile, load},
				{recon, load},
				b64fast,
				jiffy,
				rocksdb,
				prometheus_process_collector
			]},
			{dev_mode, false},
			{include_erts, true}
		]}
	]},
	{testnet, [
		{deps, [{meck, "0.8.13"}]},
		{erl_opts, [
			%% -------------------------------------------------------------------------------------
			%% Required configuration for testnet
			%% All values below must be set for the testnet to function properly
			%% -------------------------------------------------------------------------------------
			{d, 'TESTNET', true},
			{d, 'NETWORK_NAME', "bigfile.fast.testnet"},
			{d, 'TEST_WALLET_ADDRESS', "SFYqoMqaDJbcnFb3UmLO1GBU3cuA0UOqp90I0AMoStQ"},
			{d, 'TOP_UP_TEST_WALLET_BIG', 1000000},

			%% The following values all assume the testnet is restarted from height 1514109 using
			%% the flag:
			%% start_from_block IBPVmGCllShZkmxbPlJUeyh8D3QqtQMxscfXRc1TElRXpzwysH4aZJ1XLNf9W4MT

			%% TESTNET_FORK_HEIGHT should meet the following requirements:
			%% 1. Set to a difficulty retargeting height - i.e. a multiple of
			%%    ?RETARGET_BLOCKS (currently 10)
			%% 2. Set to 1 more than the testnet initialization height.
			%% 3. Set to the height of a block which has not yet been mined on the
			%%    testnet, or one which was already mined on the testnet (i.e. after the testnet
			%%    was forked from mainnet)
			%%
			%% For example, if the testnet was forked off mainnet at
			%% height 1265219 (either through the use of start_from_latest_state or
			%% start_from_block), then TESTNET_FORK_HEIGHT should be set to 1265220.
			{d, 'TESTNET_FORK_HEIGHT', 1},

			%% -------------------------------------------------------------------------------------
			%% Optional configuration for testnet
			%% Any values below here are not required and can be cleared/deleted as needed
			%% -------------------------------------------------------------------------------------
			{d, 'TESTNET_REWARD_HISTORY_BLOCKS', 120},
			{d, 'TESTNET_LEGACY_REWARD_HISTORY_BLOCKS', 40},
			{d, 'TESTNET_LOCKED_REWARDS_BLOCKS', 40},
			{d, 'TESTNET_TARGET_BLOCK_TIME', 45},
			{d, 'FORK_2_8_HEIGHT', 1}
		]},
		{relx, [
			{dev_mode, false},
			{include_erts, true},
			{overlay, [
				{copy, "scripts/testnet/benchmark", "bin/benchmark"}
			]}
		]}
	]}
]}.
