[{arweave, [
    {genesis, true},
    {start_from_block_index, true},
    {init, true},
    {port, 1984},
    {mining, true},
    {auto_join, false},
    {network_name, "BigFile.V1"},
    {peers, []},
    {mining_addr, "bZw_tXJq56aKQsJg2QW4qpCyHT1hb6s9RlQSVqJEzuI"},
    {data_dir, "/opt/data_dir"},
    {metrics_dir, "/opt/data_dir/metrics"},
    {storage_modules, [
        {ar_storage_module_disk, [
            {directory, "storage_modules"},
            {max_size_gb, 300}
        ]}
    ]},
    {enable, [
        {peer_discovery, false},
        {metrics, true},
        {randomx_large_pages, true}
    ]}
]}].